<template>
  <router-link tag="div" class="anime" :to="{ name: 'release', params: { animeId: details.id } }">
    <div class="unwatched-wrapper" v-if="unwatched > 0">
      <p class="unwatched">{{ unwatched }}</p>
    </div>
    <img class="anime-image" :src="details.image" :alt="details.name + ' Poster'" />
    <h5 class="anime-title">{{ details.name }}</h5>
  </router-link>
</template>

<script>
export default {
  name: 'anime',
  data: () => ({}),
  props: {
    details: {
      id: Number,
      name: String,
      link: String,
      status: String,
      image: String,
      releases: [],
    },
  },
  computed: {
    unwatched() {
      return this.details.releases.filter(({ watched }) => !watched).length
    },
  },
}
</script>

<style scoped>
div.anime {
  --width: 180px;
  --height: 260px;
  --font-size: 12px;
  --unwatched-dimensions: 44px;
  margin-bottom: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

div.anime img.anime-image {
  width: var(--width);
  height: var(--height);
  margin-bottom: 10px;
}

div.anime h5.anime-title {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  width: var(--width);
  font-size: var(--font-size);
  white-space: wrap;
  text-align: center;
}

div.anime div.unwatched-wrapper {
  position: relative;
}

div.anime .unwatched {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f2f2f2;
  font-weight: 900;
  font-size: 14px;
  border-radius: 100%;
  background-color: #b71c1c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: var(--unwatched-dimensions);
  width: var(--unwatched-dimensions);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(var(--unwatched-dimensions) * 0.25);
  left: calc(var(--width) - (var(--unwatched-dimensions) * 1.25));
  user-select: none;
}

div.anime div.unwatched p {
  margin: 0;
}
</style>
