<template>
  <v-app dark>
    <v-toolbar app fixed clipped-left>
      <router-link to="/" v-if="$route.path !== '/'" tag="a">
        <v-btn icon> <v-icon>mdi-arrow-left</v-icon> </v-btn>
      </router-link>
      <v-toolbar-title> Anime Episodes </v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid> <router-view></router-view> </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  name: 'app',
  methods: mapActions(['getAllAnimes']),
  computed: {
    ...mapGetters(['unwatchedCount']),
    ...mapState({
      error: state => state.error,
    }),
  },
  created() {
    this.getAllAnimes()
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: auto;
}

div.app {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
