<template>
  <div class="home">
    <div v-if="unwatched.length" class="unwatched-container">
      <v-subheader>Unwatched</v-subheader>
      <div class="anime-container">
        <Anime v-for="anime in unwatched" :details="anime" :key="anime.id" />
      </div>
    </div>
    <div v-if="watched.length" class="watched-container">
      <v-subheader>Watched</v-subheader>
      <div class="anime-container">
        <Anime v-for="anime in watched" :details="anime" :key="anime.id" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import Anime from '@/components/Anime.vue'

export default {
  name: 'home',
  components: {
    Anime,
  },
  computed: {
    ...mapState({
      animes: state => state.animes,
    }),
    watched() {
      return this.animes.filter(
        ({ releases }) => releases.filter(({ watched }) => !watched).length === 0
      )
    },
    unwatched() {
      return this.animes.filter(({ releases }) => releases.filter(({ watched }) => !watched).length)
    },
  },
}
</script>

<style>
div.anime-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}
</style>
