<template>
  <div class="release">
    <v-toolbar flat color="secondary">
      <v-toolbar-title>{{ animeName }}</v-toolbar-title>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="unwatched"
      :must-sort="true"
      class="releases-container"
    >
      <template slot="items" slot-scope="props">
        <tr>
          <td class="text-xs-left">Episode {{ props.item.episode }}</td>
          <td class="text-xs-right">
            <v-icon small @click="watched(props.item.id)"> mdi-check </v-icon>
          </td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data: () => ({
    releases: [],
    selected: [],
    headers: [
      {
        text: 'Episode ',
        sortable: true,
        align: 'left',
        value: 'episode',
      },
      {
        text: 'Actions',
        align: 'right',
        value: 'actions',
      },
    ],
    animeName: '',
  }),
  methods: {
    ...mapGetters(['animeReleases', 'animeFromId']),
    ...mapActions(['markWatched']),
    refreshReleases() {
      this.releases = this.animeReleases()(this.animeId)
    },
    refreshAnimeName() {
      const anime = this.animeFromId()(this.animeId)
      if (anime) this.animeName = anime.name
    },
    watched(releaseId) {
      this.markWatched({ animeId: parseInt(this.animeId, 10), releaseId })
    },
  },
  computed: {
    unwatched() {
      return this.releases.filter(({ watched }) => !watched)
    },
    animeId() {
      return this.$route.params.animeId
    }
  },
  created() {
    this.refreshReleases()
    this.refreshAnimeName()
    this.$store.subscribe(mutation => {
      switch (mutation.type) {
        case 'setReleases':
          this.refreshReleases()
          this.refreshAnimeName()
          break
        default:
          break
      }
    })
  },
}
</script>

<style scoped>
</style>
